@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@font-face {
    font-family: HelveticaNeue;
    src: url("./Fonts/HelveticaNeueLt.ttf");
    }
*{
    margin: 0px;
    padding: 0px;
}
body{
     font-family: HelveticaNeue;
     margin: 0 auto; 
     overflow-x:hidden;
     height: 0px;
}
html,body {
    margin:0;
    padding:0;
}
html::-webkit-scrollbar {
    width: .5em;
  }
  
  html::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(172, 202, 241, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(119, 89, 89, 0.3);
  }
  
  html::-webkit-scrollbar-thumb {
  background-color: #0092dd;
  outline: 1px solid rgb(23, 31, 141);
  border-radius: 10px;
  }
  html::-webkit-scrollbar-thumb:window-inactive {
      background: rgba(255,0,0,0.4); 
  }

  .logo{
    position: relative;
    display: block;
    width: 132px;
    height: 30.2px;
    margin: 0 auto;
    top:10px;
}
.hamburger-menu{
    position: relative;
    display: block;
    margin: 0 auto;
    top: 7px;
}
.hamburger-menu-div{
    position: relative;
    left: 10px;
    width: 29px;
    height: 29px;
    border-radius: 5px;
    background-color: rgba(190, 190, 190, 0.19);
    cursor: pointer;
    top: -20px;
}
.login{
    list-style-type: none;
    position: relative;
    float: right;
    cursor: pointer;
    font-family: HelveticaNeue;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.13;
    letter-spacing: normal;
    color: #bebebe;
}
.mainul{
    position: relative;
   top:-60px;
   right: 10px; 
}

.maintitle{
    display: block;
    font-family: HelveticaNeue;
    font-size: 31px;
    text-align: center;
    color: #000000;
    width: 100%;
    margin: 0 auto;  
    position: absolute;
    top: 160.7px
}
.maintitle h1{
    font-weight: bolder;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.23;
    position: relative;
    top: 100px;
}
.btn1{
    width: 100%;
    border:none;
    top: 456.9px;
    position: absolute;
    text-align: center;
    }
    .btn1>button{
        cursor:pointer;
    }
    .btn1create{
        border-radius: 5px;
        padding: 10px;
        width:50%;
        border: none;
        display: block;
        margin: 15px auto;
        font-family: HelveticaNeue;
        font-size: 19px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.26;
        letter-spacing: normal;
        color: #ffffff;
        background-color: #c400ff;
        box-shadow: 2px 1px 8px 0 rgba(255, 255, 255, 0.44);
    }
    .btn1reqdemo{
        border-radius: 5px;
        padding: 10px;
        width:50%;
        border:none;
        margin: 15px auto;
        display: block;
        font-size: 19px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.26;
        letter-spacing: normal;
        font-family: HelveticaNeue;
        color: white;
        box-shadow: 2px 1px 8px 0 rgba(255, 255, 255, 0.44);
        background-color: #bebebe;
    }

    .companylogo{
        display: flex;
        position: relative;
        overflow: hidden;
        background-position: center;
        background-size: cover;
        left:0px;       
    }
    .slide{
        height: 25vw;
    }

    .customer-logos{
    position: relative;
    top: 593px;

    }

    .trees{
        position: relative;
        top: 550px;
        left: -10px;
        display: flex;
        overflow: hidden;
        height: 16vw;
    }
   /*  .companylogo>img{
        position: relative;
        display: block;
        left: -50%;
        height: 62px;
         width:auto;
    } */