@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@font-face {
    font-family: HelveticaNeue;
    src: url("./Fonts/HelveticaNeueLt.ttf");
    }

#body{
     font-family: HelveticaNeue;
}
.mainmenu{
    display: flex;
    position: relative;
}
.logo{
   width:9.8%;
   height: 44px;
   margin:5px;

}
.mainul{
    display: flex;  
    margin:0px;
}
.mainul>li{
    list-style-type: none;
    margin:15px 10px 10px 0px;
    color: #bebebe;
    cursor: pointer;
     font-family: HelveticaNeue !important;
}
.fbicon{
    left:62%;
    position: absolute;
    height: 23.3px;
    width:23.3px;
     
}
.lnicon{
    left:64.1%;
    position: absolute;
    height: 23.3px;
    width:23.3px;
}
.instaicon{
    left:66.2%;
    position: absolute;
    height: 23.3px;
    width:23.3px;
}

#trytele{
    position: absolute;
    left: 72.6%;
    color: black ;
   text-decoration: underline;
}

.blog{
    position: absolute;
    left: 80.6%;
}
.contact{
    position: absolute;
    left: 85.6%;
}

.signup{
    position: absolute;
    left:92%;
}

.login{
    position: absolute;;
    left: 97%;
}

.main{
    position: relative;
    text-align:center;
    top:230px;
}
.main>h1,.main>h2{
    display: block;
    font-family: HelveticaNeue;
}
.main>h1{
    font-family:Helvetica;
    font-size: 57px;  
    font-weight: bolder;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.23;
    letter-spacing: normal;
    margin-bottom: 10px;
}
.main>h2{
    margin:0px;
    font-size: 25px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.32;
    letter-spacing: 0.18px;
    text-align: center; 
    color: #909090;
}
.btn1{
    margin-top: 20px;
display:inline-flex;
border:none;
text-align: center;
}
.btn1>button{
    cursor:pointer;
}
.btn1create{
    border-radius: 5px;
    padding: 10px 28px 10px 28px;
    margin:0px 9px 0px 9px;
    border: none;
    display: block;
    font-family: HelveticaNeue;
    font-size: 19px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.26;
    letter-spacing: normal;
    color: #ffffff;
    background-color: #c400ff;
    box-shadow: 2px 1px 8px 0 rgba(255, 255, 255, 0.44);
}
.btn1reqdemo{
    border-radius: 5px;
    padding: 10px 28px 10px 28px;
    border:none;
    margin:0px 9px 0px 9px;
    display: block;
    font-size: 19px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.26;
    letter-spacing: normal;
    color: white;
    box-shadow: 2px 1px 8px 0 rgba(255, 255, 255, 0.44);
    background-color: #bebebe;
}
