@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@font-face {
    font-family: HelveticaNeue;
    src: url("./Fonts/HelveticaNeueLt.ttf");
    }
*{
    margin: 0px;
    padding: 0px;
}
body{
     font-family: HelveticaNeue;
     margin: 0 auto; 
     overflow-x:hidden;
     height: 0px;
}
html,body {
    margin:0;
    padding:0;
}
html::-webkit-scrollbar {
    width: .5em;
  }
  
  html::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(172, 202, 241, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(119, 89, 89, 0.3);
  }
  
  html::-webkit-scrollbar-thumb {
  background-color: #0092dd;
  outline: 1px solid rgb(23, 31, 141);
  border-radius: 10px;
  }
  html::-webkit-scrollbar-thumb:window-inactive {
      background: rgba(255,0,0,0.4); 
  }

  .logo{
    position: relative;
    display: block;
    width: 160px;
    height: 41.2px;
    margin: 0 auto;
    top:10px;
}
.navbar-light .navbar-toggler-icon {
    background-image: url("svgfilesforlandingpage_/menu/noun_menu_933313.svg");
    width: 17px;
    height: 17px;
    position: relative;
    left: -5px;
    top: -2px;
}
.navbar-light .navbar-toggler {
   color: rgba(0,0,0,.5);
    border:none; 
    background-color: rgba(190, 190, 190, 0.19);
    position: relative;
    top: 10px;
}

.navbar-light .navbar-brand {
    color: rgba(0,0,0,.9);
    float: none;
    position: relative;
    right: 25%;

}

.bg-light {
    z-index: 1;
}
.show{
    width: 50%;
}
.hamburger-menu{
    position: relative;
    display: block;
    margin: 0 auto;
    top: 7px;
}
.hamburger-menu-div{
    width: 29px;
    height: 29px;
    border-radius: 5px;
    background-color: rgba(190, 190, 190, 0.19);
    cursor: pointer;
}
.login{
    list-style-type: none;
    position: relative;
    float: right;
    cursor: pointer;
    font-family: HelveticaNeue;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.13;
    letter-spacing: normal;
    color: #bebebe;
}
.mainul{
    position: relative;
   top:-54px;
   right: 10px; 
}

.maintitle{
    display: block;
    font-family: HelveticaNeue;
    font-size: 31px;
    text-align: center;
    color: #000000;
    width: 100%;
    margin: 0 auto;  
    position: absolute;
    top: 160.7px
}
.maintitle h1{
    font-weight: bolder;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.23;
    position: relative;
    top: 100px;
    width: 90%;
    left: 21px;
}
.btn1{
    width: 100%;
    border:none;
    top: 456.9px;
    position: absolute;
    text-align: center;
    }
    .btn1>button{
        cursor:pointer;
    }
    .btn1create{
        border-radius: 5px;
        padding: 10px;
        width:50%;
        border: none;
        display: block;
        margin: 15px auto;
        font-family: HelveticaNeue;
        font-size: 19px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.26;
        letter-spacing: normal;
        color: #ffffff;
        background-color: #c400ff;
        box-shadow: 2px 1px 8px 0 rgba(255, 255, 255, 0.44);
    }
    .btn1reqdemo{
        border-radius: 5px;
        padding: 10px;
        width:50%;
        border:none;
        margin: 15px auto;
        display: block;
        font-size: 19px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.26;
        letter-spacing: normal;
        font-family: HelveticaNeue;
        color: white;
        box-shadow: 2px 1px 8px 0 rgba(255, 255, 255, 0.44);
        background-color: #bebebe;
    }
    .logos-company{
        position: absolute;
        top: 84px;
    }

    .companylogo{
        display: flex;
        position: relative;
        overflow: hidden;
        background-position: center;
        background-size: cover;
        left:0px;       
    }
    .slide{
        height: 55vw;
    }

    .customer-logos{
    position: absolute;
    top: 650px;

    }

    .trees{
        position: absolute;
        top: 618px;
        left: -10px;
        display: flex;
        overflow: hidden;
        height: 16vw;
    }
    .group20{
        position: absolute;
        width: 100%;
        top: 611px;
        height: 20vw;
        overflow: hidden;
    }
    .bgi2{
        height: 20vw;
       position: relative;
       left: -10px;
    }
    .crAcc{
        position: absolute;
        top: 815px;
        text-align: center;
        background-color: rgba(211, 211, 211, 0.5);
        padding: 10px;
    }
    .crAcc h3{
        font-family: roboto;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.18;
        letter-spacing: normal;
        color: #4e4e4e;
    }
    .crAccform{
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;
        padding: 10px 15%;
    }
    .crAccform>input{
        margin: 0 auto;
        width: 100%;
        height: 30px;
        border: none;
        border-radius: 5px;
        margin: 10px 5px 10px 5px;
        padding-left: 10px;
        background-color: #bebebe;
    }
    ::placeholder{
        color: black;
        font-family: Roboto;
        text-align: center;
        font-size: 16px;
      
        font-weight: normal;
      
        font-style: normal;
      
        font-stretch: normal;
      
        line-height: 1.31;
      
        letter-spacing: 0.32px;
    }

    .u1{
        display:flex;
        width: 100%;
        justify-content:center;
        position: relative;
        top: 5%;
    }
    .ulp{
        display: block;
        position: relative;
        margin: 0px;
        left: 20%;
        font-family: 'Roboto', sans-serif;
        height: 15px;
        font-size: 10px; 
        font-weight: 500; 
        font-style: normal;  
        font-stretch: normal;  
        line-height: 1.25;  
        letter-spacing: normal;   
        color: #4e4e4e;
    }
    
      #mailUpdates{
        display: block;
        position: relative;
        margin: 0px;
        margin-top: 6px;
        right: 10px;
      }

      .registerbtn{
        background-color: black;
        border:none;
        top:75%;
        color: white;
        width: 45%;
        height: 31px;
        border-radius:4px;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    }
   /*  .companylogo>img{
        position: relative;
        display: block;
        left: -50%;
        height: 62px;
         width:auto;
    } */